# TODO: nach "env.sh" kopieren, Pfade anpassen
CASTOR_JAR=/path/to/castor-0.9.3.9-xml.jar
XERCES_JAR=/path/to/xerces.jar

JAVAC="javac -classpath $CASTOR_JAR:$XERCES_JAR:mapping"
JAVA="java -classpath $CASTOR_JAR:$XERCES_JAR:mapping:."
