JYTHON_CLASSES=/path/to/jython.jar

# directory containing "ArgoUML-Plugin.txt"
ARGO_PLUGINDIR=../../build/plugins

ARGO_CLASSES=`echo ../../build/*.jar | tr ' ' ':'`

# directory for jython to store cached information
# must be existing and writable
JYTHON_CACHEDIR=$HOME/.jython.d/cachedir
